.body {
  background-color: #000;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  margin: 0 200px;
}

.section__header {
}

.header {
  min-height: 74px;
  margin: 0 200px;
  padding: 45px 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 142px;
  height: 33px;
}

.profile {
  padding: 40px 0 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  column-gap: 30px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  max-width: 65%;
  color: #ffffff;
  flex-grow: 1;
}

.profile__title-block {
  /* max-width: 80%; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.profile__title {
  /* max-width: 80%; */
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* .profile__title:after {
  content: "";
  
} */

.profile__change-button {
  margin-left: 19px;
  min-width: 24px;
  height: 24px;
  display: inline-block;
  box-sizing: border-box;
  background-image: url("../images/profile/edit-button.svg");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  background-size: 10px;
  border: 1px solid #ffffff;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.profile__change-button:hover {
  opacity: 0.6;
}

.profile__subtitle {
  margin: 11px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-button {
  padding: 0;
  flex-grow: 1;
  max-width: 150px;
  min-width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-image: url("../images/add-button/plus.svg");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  background-size: 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.5;
}

.elements {
  padding: 50px 0 0;
}

.elements__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

.element {
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.element__photo {
  width: 100%;
  object-fit: cover;
}

.element__title-block {
  position: relative;
  padding: 21px 20px 25px 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.element__title {
  max-width: 80%;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like {
  width: 22px;
  height: 19px;
}

.element__checkbox {
  -webkit-appearance: none;
  appearance: none;
}

.element__checkbox:before {
  display: inline-block;
  content: "";
  display: block;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.element__checkbox:before {
  background-image: url("../images/element/element__heart/element__heart.svg");
}

.element__checkbox:checked:before {
  background-image: url("../images/element/element__heart/element__heart_active.svg");
}

.element__checkbox:not(:checked):hover:before {
  opacity: 0.5;
}

.footer {
  padding: 68px 0 60px;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  width: 100%;
  max-width: 430px;
  margin: 0 19px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  background-image: url("../images/popup/close-button.svg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: 32px;
  /* border: 2px solid #ffffff; */
  border: none;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__form {
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
}

.popup__title {
  margin: 0 0 47px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.popup__text-input {
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__text-input:not(:first-of-type) {
  margin-top: 28px;
}

.popup__submit {
  margin: 48px 0 0;
  width: 100%;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .section {
    margin: 0 100px;
  }
  .header {
    margin: 0 100px;
    padding: 28px 0 0;
  }
}

@media (max-width: 1080px) {
  .section {
    margin: 0 50px;
  }

  .header {
    margin: 0;
    padding: 28px 50px 0;
  }

  .profile {
    flex-wrap: wrap;
    row-gap: 36px;
  }
}

@media (max-width: 768px) {
  .section {
    margin: 0 19px;
  }

  .header {
    min-height: 55px;
    padding: 28px 25px 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }

  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }

  .profile {
    padding: 42px 0 0;
    flex-direction: column;
    row-gap: 0;
  }
  .profile__avatar {
  }

  .profile__info {
    max-width: 100%;
    margin-top: 26px;
    text-align: center;
  }

  .profile__title-block {
    justify-content: center;
    align-items: center;
  }

  .profile__title {
    padding-left: 24px;
    font-size: 27px;
    line-height: 33px;
  }

  .profile__change-button {
    /* vertical-align: middle; */
    margin-left: 10px;
    min-width: 18px;
    height: 18px;
    background-size: 7.5px;
  }

  .profile__subtitle {
    margin: 7px 3px 0 0;
    font-size: 14px;
    line-height: 17px;
  }

  .add-button {
    margin: 33px 0 0;
    width: 100%;
    max-width: 100%;
    background-size: 16px;
  }

  .elements {
    padding: 36px 0 0;
  }

  .footer {
    padding: 48px 0 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__form {
    padding: 25px 22px;
  }

  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
    background-size: 20px;
  }

  .popup__title {
    margin: 0 0 75px;
    font-size: 18px;
    line-height: 22px;
  }

  .popup__submit {
    margin: 45px 0 0;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
